  (
    foliage_definitions: [

    
        (
            name: "Grass",

            mesh_name: Some("grass_1"),

            material_name: Some("foliage_green"),


            
           
        ),
        
        


	],

    foliage_mesh_definitions: {

        "grass_1" : "foliage/meshes/grass4.obj",

    },


    //uses the special foliage shader that supports wind 
    foliage_material_definitions: {


        "foliage_green" :  (

            material_preset: Foliage, 
            base_color: Some( LinearRgba( red: 0.09, green: 0.22, blue: 0.08, alpha: 1.0 )  ),
            base_color_texture: Some("foliage/textures/flat/sprite_0017.png"),


        )


    }
)
